@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  pointer-events: none;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid #D0CDCD;
  background: rgba(204, 204, 204, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 2px solid rgba(204, 204, 204, 0.37);
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85,133,117,1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid rgba(182,178,133,1);
  border-top-color: transparent;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.v30_116 {
  width: 100%;
  height: 5150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_94 {
  width: 100%;
  height: 751px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 4399px;
  left: 0px;
  overflow: hidden;
}
.v30_94_Gallery {
  width: 100%;
  height: 751px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0px;
  overflow: hidden;
}
.v30_95 {
  width: 470px;
  color: transparent;
  position: absolute;
  top: 110px;
  left: 250px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 150px;
  opacity: 1;
  text-align: right;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #333333;
}
.v30_95_A {
  width: 470px;
  color: #558575;
  position: absolute;
  top: 230px;
  left: 250px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 150px;
  font-style:italic;
  opacity: 1;
  text-align: right;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #333333;
}
.v30_95_B {
  width: 470px;
  color: transparent;
  position: absolute;
  top: 350px;
  left: 250px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 150px;
  opacity: 1;
  text-align: right;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #333333;
}
.v30_100 {
  width: 520px;
  height: 354px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 812px;
  border: 10px solid #333333;
  overflow: hidden;
}
.v30_104 {
  width: 570px;
  color: rgba(182,178,133,1);
  position: absolute;
  top: 550px;
  left: 771px;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: right;
}
.v30_105 {
  width: 113px;
  height: 113px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 250px;
  overflow: hidden;
}
.v30_106 {
  width: 113px;
  height: 113px;
  background: rgba(59,89,152,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_107 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43px;
  left: 7px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_108 {
  width: 113px;
  height: 113px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 390px;
  overflow: hidden;
}
.v30_109 {
  width: 113px;
  height: 113px;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_110 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43px;
  left: 3px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_111 {
  width: 113px;
  height: 113px;
  background: url("../images/v30_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 530px;
  overflow: hidden;
}
.v30_112 {
  width: 113px;
  height: 113px;
  background: rgba(7,94,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_113 {
  width: 99px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43px;
  left: 6px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v41_4 {
  width: 75px;
  height: 851px;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v30_71 {
  width: 100%;
  height: 1024px;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: absolute;
  top: 3375px;
  left: 0px;
  overflow: hidden;
}
.v30_72 {
  width: 100%;
  height: 100%;
  background: rgba(71,71,71,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_73 {
  width: 814px;
  color: transparent;
  position: absolute;
  top: 158px;
  left: 114px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 190px;
  opacity: 1;
  text-align: left;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #D0CDCD;
  text-stroke-width: 2px;
  text-stroke-color: #D0CDCD;
}
.name {
  color: #fff;
}
.v30_75 {
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 122px;
  overflow: hidden;
}
.v30_76 {
  width: 110px;
  height: 110px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_77 {
  width: 93px;
  color: rgba(255,255,255,0.8600000143051147);
  position: absolute;
  top: 40px;
  left: 8px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v30_81 {
  width: 75px;
  height: 100%;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v30_84 {
  width: 50%;
  height: 50%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 928px;
  border-radius: 50%;
}
.v30_93 {
  width: 1028px;
  height: 1028px;
  opacity: 1;
  position: absolute;
  top: -2px;
  left: 950px;
  border-radius: 50%;
}
.v30_93_A {
  width: 1064px;
  height: 1064px;
  opacity: 1;
  position: absolute;
  top: -20px;
  left: 925px;
  border-radius: 50%;
  border: 8px solid #B6B285;
}
.v30_86 {
  width: 671px;
  color: rgba(208,205,205,1);
  position: absolute;
  top: 439px;
  left: 200px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 50px;
  opacity: 1;
  text-align: right;
}
.v30_92 {
  width: 100px;
  height: 100px;
  background: rgba(182,178,133,1);
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 765px;
  border-radius: 50%;
}
.v30_29 {
  width: 100%;
  height: 1327px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 2048px;
  left: 0px;
  overflow: hidden;
}
.v30_29_Gallery {
  width: 100%;
  height: 1327px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: relative;
  top:0;
  left: 0px;
  overflow: hidden;
}
.v30_30 {
  width: 100%;
  height: 100%;
  background: rgba(71,71,71,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_31 {
  width: 672px;
  position: absolute;
  top: 189px;
  right:10px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 230px;
  opacity: 1;
  text-align: left;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #494949;
  text-stroke-width: 2px;
  text-stroke-color: #494949;
}
.v30_31_Gallery {
  width: 672px;
  position: absolute;
  top: 189px;
  right:150px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 230px;
  opacity: 1;
  text-align: left;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #494949;
  text-stroke-width: 2px;
  text-stroke-color: #494949;
}
.v30_31_G {
  width: 550px;
  height: 100px;
  position: absolute;
  top: 790px;
  right:-200px;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 100px;
  opacity: 1;
  text-align: left;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #494949;
  text-stroke-width: 2px;
  text-stroke-color: #494949;
  transform: rotate(90deg);
}
.name {
  color: #fff;
}
.v30_40 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 128px;
  overflow: hidden;
}
.v30_41 {
  width: 100px;
  height: 100px;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_41:hover {
  background: rgba(85,133,117,1);
}
.v30_42 {
  width: 26px;
  color: rgba(255,255,255,0.8);
  position: absolute;
  top: 38px;
  left: 37px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_43 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 252px;
  overflow: hidden;
}
.v30_44 {
  width: 100px;
  height: 100px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_44:hover {
  background: rgba(85,133,117,1);
}
.v30_45 {
  width: 76px;
  color: rgba(255,255,255,0.8);
  position: absolute;
  top: 38px;
  left: 12px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_46 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 376px;
  overflow: hidden;
}
.v30_47 {
  width: 100px;
  height: 100px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_47:hover {
  background: rgba(85,133,117,1);
}
.v30_48 {
  width: 76px;
  color: rgba(255,255,255,0.8);
  position: absolute;
  top: 38px;
  left: 12px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_49 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 500px;
  overflow: hidden;
}
.v30_50 {
  width: 100px;
  height: 100px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_50:hover {
  background: rgba(85,133,117,1);
}
.v30_51 {
  width: 55px;
  color: rgba(255,255,255,0.8);
  position: absolute;
  top: 38px;
  left: 23px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_88 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 624px;
  overflow: hidden;
}
.v30_89 {
  width: 100px;
  height: 100px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_89:hover {
  background: rgba(85,133,117,1);
}
.v30_90 {
  width: 69px;
  color: rgba(255,255,255,0.8);
  position: absolute;
  top: 38px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_36 {
  width: 900px;
  color: #474747;
  position: absolute;
  top: 34px;
  left: 123px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v30_36_A {
  width: 900px;
  color: #558575;
  position: absolute;
  top: 140px;
  left: 490px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 90px;
  font-style:italic;
  opacity: 1;
  text-align: left;
}
.v30_39 {
  width: 75px;
  height: 100%;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v30_61 {
  width: 345px;
  height: 345px;
  background: url("../images/v30_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 129px;
  overflow: hidden;
}
.category {
  cursor: pointer;
  font-weight: bold;
}

.images {
  display: none;
  list-style-type: none;
  padding-left: 0;
}
.v30_62 {
  width: 345px;
  height: 345px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 615px;
  overflow: hidden;
  filter: saturate(0);
}
.v30_62:hover {
  filter: saturate(1);
}
.v30_63 {
  width: 345px;
  height: 345px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 494px;
  overflow: hidden;
  filter: saturate(0);
}
.v30_63:hover {
  filter: saturate(1);
}
.v30_64 {
  width: 345px;
  height: 345px;
  background: url("../images/v30_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 980px;
  border-bottom-right-radius: 125px;
  overflow: hidden;
}
.v30_65 {
  width: 466px;
  height: 345px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 859px;
  overflow: hidden;
  filter: saturate(0);
}
.v30_65:hover {
  filter: saturate(1);
}
.v30_66 {
  width: 466px;
  height: 345px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 129px;
  overflow: hidden;
  filter: saturate(0.8);
}
.v30_67 {
  width: 346px;
  height: 345px;
  background: rgba(85,133,117,0.6299999952316284);
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 128px;
  overflow: hidden;
  filter: saturate(0);
}
.v30_67:hover {
  filter: saturate(1);
}
.v30_68 {
  width: 348px;
  height: 345px;
  background: rgba(182,178,133,0.6299999952316284);
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 978px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  filter: saturate(0);
}
.v30_68:hover {
  filter: saturate(1);
}
.v30_69 {
  width: 25px;
  height: 25px;
  background: #558575;
  opacity: 1;
  position: absolute;
  top: 1246px;
  left: 1303px;
  border-radius: 50%;
}
.v30_2 {
  width: 100%;
  height: 1024px;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: absolute;
  top: 1024px;
  left: 0px;
  overflow: hidden;
}
.v30_3 {
  width: 100%;
  height: 100%;
  background: rgba(71,71,71,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_10 {
  width: 100%;
  position: absolute;
  top: 510px;
  left: 526px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 450px;
  opacity: 1;
  text-align: left;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(255,250,250,0.7799999713897705);
  text-stroke-width: 2px;
  text-stroke-color: rgba(255,250,250,0.7799999713897705);
}
.name {
  color: #fff;
}
.v30_9 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 122px;
  overflow: hidden;
}
.v30_5 {
  width: 100px;
  height: 100px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #B6B285;
}
.v30_6 {
  width: 68px;
  color: rgba(255,255,255,0.8600000143051147);
  position: absolute;
  top: 35px;
  left: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v30_8 {
  width: 100%;
  color: rgba(255,250,250,0.7799999713897705);
  position: absolute;
  top: 228px;
  left: 126px;
  font-family: Raleway;
  font-weight: 200;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v30_8_A {
  width: 100%;
  color: rgba(255,250,250,0.7799999713897705);
  position: absolute;
  top: 328px;
  left: 126px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v30_8_B {
  width: 100%;
  color: #B6B285;
  position: absolute;
  top: 328px;
  left: 770px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v30_8_C {
  width: 100%;
  color: rgba(255,250,250,0.7799999713897705);
  position: absolute;
  top: 428px;
  left: 126px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v30_8_D {
  width: 100%;
  color: #B6B285;
  position: absolute;
  top: 428px;
  left: 490px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v30_11 {
  width: 377px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 611px;
  left: 126px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v30_26 {
  width: 377px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 825px;
  left: 126px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v30_28 {
  width: 75px;
  height: 100%;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_5 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_7 {
  width: 100%;
  height: 100%;
  filter: saturate(0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
}

.slideshow-container {
  position: relative;
}
.prev {
  
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -28px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 2s ease;
  user-select: none;
  right: 5;
}
.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(255,250,250,0.7799999713897705);
  transition: background-color 1s ease;
}
.active, .dot:hover {
  background-color: #558575;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.v6_6 {
  width: 75px;
  height: 100%;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 30px 0px 25px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_8 {
  width: 772px;
  position: absolute;
  top: 200px;
  left: 479px;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 800px;
  opacity: 1;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(255,250,250,0.7799999713897705);
}
.v6_9 {
  width: 261px;
  height: 167px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 1021px;
  overflow: hidden;
}
.v6_10 {
  width: 261px;
  height: 167px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 1323px;
  overflow: hidden;
}
.v30_70 {
  width: 168px;
  height: 168px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 1260px;
  overflow: hidden;
}
.v6_12 {
  width: 168px;
  height: 168px;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v6_13 {
  width: 68px;
  height: 68px;
  background: url("../images/v6_13.png");
  opacity: 1;
  position: absolute;
  top: 844px;
  left: 1118px;
  border-radius: 50%;
}
.v6_102 {
  width: 55px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 528px;
  left: 1323px;
  border-radius: 50%;
}
.v6_103 {
  width: 60px;
  height: 60px;
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 1325px;
  border-radius: 50%;
  background: rgba(255,250,250,0.7799999713897705);
}
.v6_103 img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 12px;
  left: 13px;
}
.v6_103_1 {
  width: 60px;
  height: 60px;
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 1325px;
  border-radius: 50%;
  border: 2px solid rgba(255,250,250,0.7799999713897705);
}

.v6_103_1 img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 9px;
  left: 9px;
}
.name {
  color: #fff;
}
.v6_92 {
  width: 341px;
  color: rgba(182,178,133,1);
  position: absolute;
  top: 278px;
  left: 111px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 150px;
  opacity: 1;
  text-align: left;
}
.v6_92_A {
  width: 120px;
  color: rgba(182,178,133,1);
  position: absolute;
  top: -15px;
  left: 0px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 150px;
  opacity: 1;
  text-align: left;
  opacity:0.7;
}
.v6_94 {
  width: 395px;
  color: rgba(182,178,133,1);
  position: absolute;
  top: 419px;
  left: 107px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 150px;
  opacity: 1;
  text-align: left;
}
.v6_95 {
  width: 377px;
  color: rgba(255,250,250,0.7799999713897705);
  position: absolute;
  top: 583px;
  left: 115px;
  font-family: Raleway;
  font-weight: 900;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  letter-spacing: 9.5px;
}
.v6_96 {
  width: 377px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 649px;
  left: 115px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_97 {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 115px;
}
.v6_98 {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 160px;
  border-radius: 50%;
}
.v6_100 {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 205px;
  border-radius: 50%;
}
.v6_101 {
  width: 107px;
  color: rgba(204,202,202,1);
  position: absolute;
  top: 351px;
  left: 1290px;
  font-family: Poppins;
  font-weight: 900;
  font-size: 32px;
  opacity: 1;
  text-align: center;
  transform: rotate(20deg);
}
.v6_104 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 541px;
  left: 1338px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_105 {
  width: 26px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 620px;
  left: 1338px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_121 {
  width: 12px;
  color: rgba(0,0,0,0.6700000166893005);
  position: absolute;
  top: 820px;
  left: 12px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_121_A {
  width: 12px;
  color: rgba(0,0,0,0.6700000166893005);
  position: absolute;
  top: 763px;
  left: 12px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_121_B {
  width: 12px;
  color: rgba(0,0,0,0.6700000166893005);
  position: absolute;
  top: 763px;
  left: 15px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_122 {
  width: 11px;
  color: rgba(0,0,0,0.6700000166893005);
  position: absolute;
  top: 881px;
  left: 15px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_123 {
  width: 14px;
  color: rgba(0,0,0,0.6700000166893005);
  position: absolute;
  top: 937px;
  left: 13px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_110 {
  width: 43px;
  height: 44px;
  background: url("../images/v6_110.png");
  opacity: 1;
  position: absolute;
  top: 872px;
  left: 16px;
  border-radius: 50%;
}
.v6_112 {
  width: 43px;
  height: 43px;
  background: url("../images/v6_112.png");
  opacity: 1;
  position: absolute;
  top: 812px;
  left: 16px;
  border-radius: 50%;
}
.v6_111 {
  width: 43px;
  height: 43px;
  background: url("../images/v6_111.png");
  opacity: 1;
  position: absolute;
  top: 933px;
  left: 16px;
  border-radius: 50%;
}



/*MOBILE*/

@media screen and (max-width: 500px) {
.v6_6 {
  width: 25px;
  position: absolute;
}
.v6_5 {
  height: 740px !important;
}
.v6_7 img{
  width: 1000px !important;
  height: 1000px !important;
  clip-path: inset(0px 0px 0px 450px); 
  filter: saturate(0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: -505px;
}
.v6_7 {
  width: 110% !important;
  height: 740px !important;
}
 .v6_92 {
    width: 141px;
    top: 60px;
    left: 50px;
    font-size: 80px;
 }
 .v6_94 {
    width: 141px;
    top: 140px;
    left: 50px;
    font-size: 80px;
}
.v6_95 {
  width: 150px;
  top: 230px;
  left: 52px;
  font-size: 20px;
  letter-spacing: 6.5px;
}
.v6_96 {
  width: 200px;
  top: 270px;
  left: 50px;
  font-size: 12px;
}
.v6_8 {
  width: 200px;
  top: 200px;
  left: 50px;
  font-weight: 900;
  font-size: 400px;
  opacity: 0.3;
  letter-spacing: -30px;
  -webkit-text-stroke-width: 4px;
}
.v30_70 {
  width: 80px;
  height: 80px;
  top: 50px;
  left: 280px;
  overflow: hidden;
}
.v6_12 {
  width: 68px;
  height: 68px;
  background: rgba(85,133,117,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v6_101 {
  width: 60px;
  top: 68px;
  left: 285px;
  font-size: 12px;
}
.v6_103 {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  position: absolute;
  top: 425px;
  left: unset;
  right: 20px;
}
.v6_103 img {
  width: 25px;
  height: 25px;
  top: 17px;
  left: 10px;
}
.v6_103_1 {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  top: 475px;
  left: unset;
  right: 20px;
}
.v6_103_1 img {
  width: 25px;
  height: 25px;
  top: 15px;
  left: 4px;
}
.v6_9 {
  width: 180px !important;
  height: 90px; !important;
  top: 580px;
  left: 100px;
}
.v6_10 {
  width: 180px !important;
  height: 90px; !important;
  top: 580px;
  left: 300px;
}
.v6_97 {
  width: 15px !important;
  height: 15px !important;
  top: 700px;
  left: 50px;
}
.v6_98 {
  width: 20px;
  height: 20px;
  top: 700px;
  left: 80px;
}
.v6_100 {
  width: 20px;
  height: 20px;
  top: 700px;
  left: 110px;
}
.dot {
  height: 20px;
  width: 20px;
}
.v6_121_B img{
  width: 19px !important;
  height: 22px !important;
  top: 590px !important;
}
.v6_121_B {
  top: 590px !important;
  left: 3px;
}
.v6_121 img {
  width: 22px !important;
  height: 22px !important;
  top: 620px !important;
}
.v6_121 {
  top: 620px !important;
  left: 2px;
}
.v6_122 img {
  width: 20px !important;
  height: 20px !important;
  top: 650px !important;
}
.v6_122 {
  top: 650px !important;
  left: 2px;
}
.v6_123 img {
  width: 22px !important;
  height: 22px !important;
  top: 680px !important;
}
.v6_123 {
  top: 680px !important;
  left: 2px;
}
.v6_92_A {
  width: 60px !important;
  height: 60px !important;
  position: relative;
  top: -70px;
  left: 0px;
  opacity: 0.7;
  text-align: left;
}
.v6_92_A img {
  width: 70px !important;
  height: 70px !important;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 1;
  text-align: left;
}

/*ABOUT*/
.v30_2 {
  height: 740px !important;
  top: 740px;
}
.v30_28 {
  width: 25px;
}
.v30_5 {
  width: 80px;
  height: 80px;
}
.v30_9 {
  width: 80px;
  height: 80px;
  top: 20px;
  left: 50px;
}
.v30_6 {
  width: 30px;
  top: 30px;
  left: 11px;
  font-size: 18px;
}
.v30_8 {
  top: 120px;
  left: 50px;
  font-size: 30px;
}
.v30_8_A {
  top: 160px;
  left: 50px;
  font-size: 40px;
}
.v30_8_B {
  top: 205px;
  left: 50px;
  font-size: 40px;
}
.v30_8_C {
  top: 250px;
  left: 50px;
  font-size: 40px;
}
.v30_8_D {
  top: 295px;
  left: 50px;
  font-size: 40px;
}
.v30_10 {
  width: 100%;
  top: 350px;
  left: 120px;
  opacity: 0.3;
  font-size: 200px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  transform: rotate(90deg);
}
.v30_11 {
  width: 80%;
  top: 380px;
  left: 50px;
  font-size: 17px;
}
.v30_26 {
  width: 80%;
  top: 570px;
  left: 50px;
  font-size: 17px;
}


/*WORKS*/
.v30_29 {
  width: 100%;
  height: 2442px !important;
  top: 1480px;
}
.v30_39 {
  width: 25px;
}
.v30_36 {
  width: 90%;
  top: 20px;
  left: 50px;
  font-weight: 900;
  font-size: 35px;
}
.v30_36_A {
  width: 100%;
  top: 62px;
  left: 200px;
  font-size: 35px;
}
.v30_31 {
  width: 100%;
  top: 120px;
  right:-70px;
  font-weight: 900;
  font-size: 150px;
  opacity: .5;
}
.v30_40 {
  width: 80px;
  height: 80px;
  top: 300px;
  left: 50px;
}
.v30_41 {
  width: 80px;
  height: 80px;
}
.v30_42 {
  width: 25px;
  top: 30px;
  left: 28px;
  font-size: 14px;
}
.v30_43 {
  width: 80px;
  height: 80px;
  top: 300px;
  left: 140px;
}
.v30_44 {
  width: 80px;
  height: 80px;
}
.v30_45 {
  width: 25px;
  top: 32px;
  left: 9px;
  font-size: 14px;
}
.v30_46 {
  width: 80px;
  height: 80px;
  top: 300px;
  left: 230px;
}
.v30_47 {
  width: 80px;
  height: 80px;
}
.v30_48 {
  width: 25px;
  top: 32px;
  left: 9px;
  font-size: 14px;
}
.v30_49 {
  width: 80px;
  height: 80px;
  top: 375px;
  left: 95px;
}
.v30_50 {
  width: 80px;
  height: 80px;
}
.v30_51 {
  width: 25px;
  top: 30px;
  left: 17px;
  font-size: 14px;
}
.v30_88 {
  width: 80px;
  height: 80px;
  top: 375px;
  left: 185px;
}
.v30_89 {
  width: 80px;
  height: 80px;
}
.v30_90 {
  width: 25px;
  top: 30px;
  left: 11px;
  font-size: 14px;
}
.v30_67 {
  width: 80%;
  height: 296px !important;
  top: 500px;
  left: 50px;
}
.v30_67 img{
  width: 110% !important;
  height: 100% !important;
}
.v30_63 {
  width: 80%;
  height: 296px !important;
  top: 820px;
  left: 50px;
}
.v30_63 img{
  width: 100% !important;
  height: 100% !important;
}
.v30_65 {
  width: 80%;
  height: 296px !important;
  top: 1140px;
  left: 50px;
}
.v30_65 img{
  width: 100% !important;
  height: 100% !important;
}
.v30_66 {
  width: 80%;
  height: 296px !important;
  top: 1460px;
  left: 50px;
}
.v30_66 img{
  width: 110% !important;
  height: 100% !important;
}
.v30_62 {
  width: 80%;
  height: 296px !important;
  top: 1780px;
  left: 50px;
}
.v30_62 img{
  width: 100% !important;
  height: 100% !important;
}
.v30_68 {
  width: 80%;
  height: 296px !important;
  top: 2100px;
  left: 50px;
}
.v30_68 img{
  width: 110% !important;
  height: 100% !important;
}
.v30_69 {
  width: 25px;
  height: 25px;
  top: 2405px;
  left: unset;
  right: 20px !important;
}
.v30_31_G {
  width: 300px;
  height: unset;
  top: 2395px;
  right:unset;
  left: 50px;
  font-size: 40px;
  transform: unset;
}


/*SERVICES*/
.v30_71 {
  width: 100%;
  height: 666px !important;
  top: 3922px;
}
.v30_81 {
  width: 25px;
}
.v30_93 {
  width: 1028px;
  height: 1028px;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 75px;
  border-radius: 50%;
  opacity:0.3;
}
.v30_93 img {
  width: 50% !important;
  height: 50% !important;
}
.v30_93_A {
  display:none;
}
.v30_73 {
  width: 300px;
  color: transparent;
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 150px;
  opacity:.5;
  transform: rotate(90deg);
}
.v30_75 {
  width: 80px;
  height: 80px;
  top: 47px;
  left: 50px;
  overflow: hidden;
}
.v30_76 {
  width: 80px;
  height: 80px;
}
.v30_77 {
  width: 70px;
  top: 32.5px;
  left: 5px;
  font-size: 15px;
}
.v30_86 {
  width: 200px;
  top: 200px;
  left: 50px;
  font-size: 25px;
}
.v30_92 {
  width: 80px;
  height: 80px;
  top: 550px;
  left: 80px;
}


/*FOOTER*/
.v30_94 {
  height: 592px !important;
  top: 4588px;
}
.v41_4 {
  width: 25px;
}
.v30_95 {
  width: unset;
  top: 20px;
  left: unset;
  right: 20px !important;
  font-size: 80px;
}
.v30_95_A {
  width: unset;
  top: 90px;
  left: unset;
  right: 20px !important;
  font-size: 80px;
}
.v30_95_B {
  width: unset;
  top: 160px;
  left: unset;
  right: 20px !important;
  font-size: 80px;
}
.v30_100 {
  width: 280px;
  height: 150px;
  top: 270px;
  left: unset;
  right: 20px !important;
  border: 5px solid #333333;
}
.v30_104 {
  width: 250px;
  top: 430px;
  left: unset;
  right: 20px !important;
  font-size: 16px;
}
.v30_105 {
  width: 50px;
  height: 50px;
  top: 530px;
  left: unset;
  right: 20px !important;
}
.v30_106 {
  width: 50px;
  height: 50px;
}
.v30_107 {
  width: 50px;
  top: 19px;
  left: 0px;
  font-size: 7px;
}
.v30_108 {
  width: 50px;
  height: 50px;
  top: 530px;
  left: unset;
  right: 80px !important;
}
.v30_109 {
  width: 50px;
  height: 50px;
}
.v30_110 {
  width: 50px;
  top: 19px;
  left: 0px;
  font-size: 7px;
}
.v30_111 {
  width: 50px;
  height: 50px;
  top: 530px;
  left: unset;
  right: 140px !important;
}
.v30_112 {
  width: 50px;
  height: 50px;
}
.v30_113 {
  width: 50px;
  top: 19px;
  left: 0px;
  font-size: 7px;
}
.v30_116 {
  height: 5180px !important;
}


/*Gallery*/
.v30_31_Gallery {
  width: 100px;
  top: 170px;
  right:unset;
  left: 50px;
  font-family: Roboto Condensed;
  font-weight: 900;
  font-size: 90px;
  -webkit-text-stroke-width: 3px;
}
.v30_29_Gallery {
  width: 100%;
  height: 2442px !important;
  top: 0px;
}
.v6_121_A img{
  width: 19px !important;
  height: 22px !important;
  top: 590px !important;
}
.v6_121_A {
  top: 590px !important;
  left: 3px;
}
}